* {
    background-color: #ffe4c4;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


h1 {
    color: #4e342e;
    background-color: #7b9363;
    font-weight: bold;
    font-size: 50px;
}


p{
    color: #4e342e;
    font-size: 20px;
}

#outcome {
    height: 20px;
}

.BtnContainer {
    text-align: center;
}


.BtnContainer > button {
    border-style: solid;
    font-size: 70px;
    padding: 20px;
}


#resetBtn {
    color:#ffe4c4;
    font-size: 20px;
    margin: 15px;
    border: solid 3px #412d28;
    background-color: #4e342e;
    border-radius:3px;
}

.btn{
    height: 130px;
    width: 130px;
    border-radius:50%;
    border: solid 3px #412d28;
    background-color: #4e342e;
    padding:auto;
}

.btn:hover, #resetBtn:hover{
    background-color: #794543;
}