*{
    font-family: 'Courier New';
    font-size: 20px;
}
body{
    background-color: bisque;
    text-align: center;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 32px;
}
p{
    font-size: 25px;
}
footer{
    text-align: center;
    border-top: solid 2px;
    padding-top: 25px;
    margin-top: 50px;
}
a{ 
    color: black;
    text-decoration: none;
    padding: 15px;
}
a:hover, a:active{
    color: grey;
}

/*navigation*/
nav{
    background-color: #577956;
    text-align: left;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #577956;
}
li{
    float: left;
}
li a{
    display: inline-block;
    color: #ffe4c4;
    text-align: left;
    padding: 12px 18px;
    text-decoration: none;
}
li a:hover{
    background-color: #435e42;
}
.active{
    background-color: #fff2e2;
}
#modeBttn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;
}

/*homepage*/
#aboutH2{
    text-align: left;
    padding-bottom: 10px;
    padding-top: 50px;
    margin-top: 100px;
    padding-left: 25px;
}
.AboutUs{
    text-align: justify;
    column-count: 2;
    column-gap: 280px;
    padding-right: 15px;
    padding-left: 15px;
}
#h1Background{
    background-color: rgb(123, 147, 99);
    height: 120px;
    padding: auto;
}
#whatP{
    padding-top: 35px;
    padding-bottom: 50px;
}
.linkP{
    font-size: 25px;
}

/*rock-paper-scissors*/
.BtnContainer {
    text-align: center;
}
#rockBtn {
    background-color: burlywood;
}
#paperBtn {
    background-color: cadetblue;
}
#scissorBtn {
    background-color: darkseagreen;
}