/*Global*/
*{
    font-family: 'Courier New';
    color: #4e342e;
}
body{
    background-color: bisque;
    text-align: center;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 32px;
}
p{
    font-size: 25px;
}
footer{
    text-align: center;
    border-top: solid 2px;
    padding-top: 25px;
    margin-top: 50px;
}
a{ 
    text-decoration: none;
    padding: 15px;
}
a:hover, a:active{
    color: grey;
}

/*Navigation*/
nav{
    background-color: #577956;
    text-align: left;
    text-decoration: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
#navLinks{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #577956;
}
.navLi{
    float: left;
}
.navLi a{
    display: inline-block;
    color: #ffe4c4;
    text-align: left;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 24px;
}
.navLi a:hover{
    background-color: #435e42;
}
.active{
    background-color: #fff2e2;
}
#modeBttn{
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;
    padding-top: 8px;
}

/*homepage*/
#h1Background{
    background-color: rgb(123, 147, 99);
    height: 150px;
    padding-top: 0;
    margin-top: 0;
}
#whatP{
    padding-top: 35px;
    padding-bottom: 50px;
}
#aboutH2{
    text-align: left;
    padding-bottom: 10px;
    margin-top: 100px;
    padding-left: 25px;
}
.AboutUs{
    text-align: left;
    column-count: 2;
    column-gap: 100px;
    padding-right: 10px;
    padding-left: 25px;
}
#imgAboutThis{
    float: right;
}
.linkP{
    font-size: 25px;
}
#names{
    font-size: 15px;
}

/*rock-paper-scissors*/
.BtnContainer {
    text-align: center;
}
#outcome {
    height: 20px;
}
.BtnContainer > button {
    border-style: solid;
    font-size: 70px;
    padding: 20px;
}
#resetBtn {
    color:#ffe4c4;
    font-size: 20px;
    margin: 15px;
    border: solid 3px #412d28;
    background-color: #4e342e;
    border-radius:3px;
}
.btn{
    height: 130px;
    width: 130px;
    border-radius:50%;
    border: solid 3px #412d28;
    background-color: #4e342e;
    padding:auto;
}
.btn:hover, #resetBtn:hover{
    background-color: #794543;
}

/*to-do list*/
#toDoInput{
    width: 80%;
    float: center;
    font-size: 25px;
    border: none;
    word-break: break-word;
}
#inputButton{
    width: 4%;
    background:  #4e342e;
    color: #fff2e2;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border: none;
    float: center;
    margin-left: 6px;
}
#inputButton:hover{
    background-color: #794543;
}
#toDo-ul{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    list-style: none;
    text-align: left;
}
#toDo-ul li{
    font-size: 25px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    padding: 10px 10px 10px 10px;
}
#toDo-ul li:hover{
    background-color: rgb(123, 147, 99);
    color: #ffe4c4;
}
#invalid-input-warning{
    color: #702963;
    font-weight: bold;
}