/*Global*/
*{
    font-family: 'Courier New';
    color: #4e342e;
}
html{
    height: 100%
}
body{
    background-color: bisque;
    text-align: center;
    height: 100%;
}

header{
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 32px;
}
main {
    padding-bottom: 200px;
    height: 100%;
}
p{
    font-size: 25px;
}
footer{
    text-align: center;
    border-top: solid 2px;
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}
a{ 
    text-decoration: none;
    padding: 15px;
}
a:hover, a:active{
    color: grey;
}
.all{
    min-height: 100%;
    position: relative;
}

/*Navigation*/
nav{
    background-color: #577956;
    text-align: left;
    text-decoration: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
#navLinks{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #577956;
}
.navLi{
    float: left;
}
.navLi a{
    display: inline-block;
    color: #ffe4c4;
    text-align: left;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 24px;
}
.navLi a:hover{
    background-color: #435e42;
}
.active{
    background-color: #fff2e2;
}
#logo{
    height: 42px;
    width: 42px;
    background-color: transparent;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 4px;
    float: right;
}

/*homepage*/
#h1Background{
    background-color: rgb(123, 147, 99);
    height: 150px;
    padding-top: 0;
    margin-top: 0;
}
#whatP{
    padding-top: 35px;
    padding-bottom: 50px;
}
#aboutH2{
    text-align: left;
    padding-bottom: 10px;
    margin-top: 100px;
    padding-left: 25px;
}
.AboutUs{
    text-align: left;
    column-count: 2;
    column-gap: 100px;
    padding-right: 10px;
    padding-left: 25px;
}
#imgAboutThis{
    float: right;
}
.linkP{
    font-size: 25px;
}
#names{
    font-size: 15px;
}

/*rock-paper-scissors*/
.BtnContainer {
    text-align: center;
}
#outcome {
    height: 20px;
    margin-bottom:80px;
    font-size:25px;
    font-weight:bold;
}
.BtnContainer > button {
    border-style: solid;
    font-size: 70px;
    padding: 20px;
}
#resetBtn, #generate-button {
    color:#ffe4c4;
    font-size: 20px;
    margin: 15px;
    border: solid 3px #412d28;
    background-color: #4e342e;
    border-radius:3px;
}
.btn{
    height: 130px;
    width: 130px;
    border-radius:50%;
    border: solid 3px #412d28;
    background-color: #4e342e;
    padding:auto;
}
.btn:hover, #resetBtn:hover, #generate-button:hover, .btn:focus{
    background-color: #794543;
}
#score-display{
    text-align:right;
    margin-right:45%;
}


/*Teampage*/
.accBtn{
    margin: 0% 10%;
    width:80%;
    text-align:left;
    vertical-align:middle;
    margin-bottom:2px;
    border:none;
    background-color:#7b9363;
    color:#4e342e;
    display:flex;
    align-items:center;
}

.accBtn:hover{
    background-color:#93a975;
}

.accPanel{
    width:80%;
    margin: 0% 10%;
    text-align:left;
}

.teamImg{
    width:150px;
    height:150px;
    border-radius:50%;
    margin-right:20px;
}

.status{
    font-size:80px;
    margin-left:auto;
    margin-right:30px;
}



/*Password Generator*/
#length{
    width:190px;
}
#lengthMsg{
    color:rgb(255, 0, 0);
    font-weight:bold;
    font-size:20px;
}
#length{
    font-size: 25px;
    border: none;
    word-break: break-word;
    resize:none;
    width: 300px;
}
#labelLength{
    font-size: 25px;
    margin-left: 2%;
}
#PasswordDisplay{
    border: solid 3px #412d28;
    width: 700px;
    width: 55%;
    text-align: center;
    margin-left: 22.5%;
    margin-right: 22.5%;
    height: 60px;
    color: #4e342e;
    background-color:#e6c1ca;
    overflow-y: hidden;
    overflow: auto;
    padding: 0 5px 0 5px;
}

/*to-do list*/
#inputArea{
    display:flex;
    justify-content: center;
}

#toDoInput{
    width: 80%;
    height:90px;
    float: center;
    font-size: 25px;
    border: none;
    word-break: break-word;
    resize:none;
}
#inputButton{
    width: 4%;
    text-align: center;
    cursor: pointer;
    float: center;
    color:#ffe4c4;
    font-size: 20px;
    margin: 0;
    border: solid 3px #412d28;
    background-color: #4e342e;
    border-radius:3px;
    margin-left: 6px;
    align-self:flex-end;
}
#inputButton:hover{
    background-color: #794543;
}
#toDo-ul,#done-ul{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    list-style: none;
    text-align: left;
}
#toDo-ul li,#done-ul li{
    font-size: 25px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    padding: 10px 10px 10px 10px;
}

#toDo-ul li:hover,#done-ul li:hover{
    background-color: rgb(123, 147, 99);
    color: #ffe4c4;
}
#invalid-input-warning{
    font-weight:bold;
    font-size:20px;
    color: #ff0000;
}
#toDoCount{
    text-align: left;
    font-weight:bold;
    font-size: 20px;
    margin-left: 7.5%;
}
.delete-button, .check-button{
    align-self: flex-end;
    color:#4e342e;
    font-size: 20px;
    margin: 15px;
    border: solid 3px #7b9363;
    background-color: bisque;
    border-radius:3px; 
    height: 35px;
   	width: 35px;
   	vertical-align: middle;
    text-align: center;
}
.delete-button:hover,.check-button:hover{
    color: bisque;
    background-color:  #577956;
}
#done-ul li{
    text-decoration: line-through;
}